<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
  </configSections>
  <appSettings>
    <add key="EnableLogging" value="true" />
    <add key="EnableExLogging" value="true" />
    <add key="DeployBindingType" value="BasicHttpBinding" />
    <add key="VerifyLicense" value="false" />
    <add key="LicensingType" value="CPU License" />
    <add key="MetaServiceName" value="Virtual/MetaDataService" />
    <add key="DeployServiceName" value="virtual/deploymentservice" />
    <add key="VirtualDirName" value="Iris.EWS.Server.Metaservice" />
    <add key="RuntimeVirtualDirName" value="Iris.Ews.Server.Service" />
    <add key="ExtEntityTablePrefix" value="Ext_" />
    <add key="ExtEntityTableSuffix" value="" />
    <add key="W3RootPath" value="C:\\Inetpub\\wwwroot\\" />
    <add key="DefaultCSSFolderPath" value="\CSS" />
    <add key="ChangeStyleCSSFolderPath" value="CSS\Custom" />
    <add key="TemperoryCSSFileNameStartWith" value="default_" />
    <add key="SiteXMLConfigFilePath" value="Pages\SiteConfig\ConfigCSS.xml" />
    <add key="UploadImageFilePath" value="Images" />
    <add key="TempUserUploadImageFilePath" value="TempUser" />
    <add key="DefaultImageFolderPath" value="Images_Default" />
    <add key="GridViewPageSize" value="10" />
    <add key="UploadFileTypes" value=".docx|.doc|.jpg|.txt|.ppt|.pptx|.xls|.xlsx|.gif|.png|.tiff|.tif|.pdf|.csv|.msg|.lfm|.xfd|.lpw|.xml" />
    <add key="SMTPHost" value="127.0.0.1" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUserName" value="" />
    <add key="SMTPPassword" value="" />
    <add key="IISVersion" value="6" />
    <add key="ILBFEDSharedSecret" value="98m29I7Y5iCXHa18527hsyl2x" />
    <add key="HideFinancialInfo" value ="false"/>
  </appSettings>
  <connectionStrings>
    <add name="IRISDB" connectionString="Data Source=localhost; database=IRISMETA; user id=sa; password=cybage@123" />
    <add name="ModalData" connectionString="Data Source=localhost;Initial Catalog=IRISMETA;Persist Security Info=True;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True" />
    <add name="EWServerEntities" connectionString="metadata=res://*/RuntimeData.csdl|res://*/RuntimeData.ssdl|res://*/RuntimeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=IRISMETA;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="RuntimeEntity" connectionString="Data Source=localhost;Initial Catalog=IRISMETA;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="Connection String" connectionString="Data Source=localhost;Initial Catalog=CachingTest;user id=sa; password=cybage@123" providerName="System.Data.SqlClient" />
    <!--<add name="DeployConnString" connectionString="Data Source=localhost;Database=IRISMETA;Persist Security Info=True;User ID=sa;Password=cybage@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="MetadataServiceContext" connectionString="metadata=res://*/DataAccess.IrisMetaEntities.csdl|res://*/DataAccess.IrisMetaEntities.ssdl|res://*/DataAccess.IrisMetaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=IRISMETA;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MetadataServiceContext" connectionString="metadata=res://*/DataAccess.IrisMetaEntities.csdl|res://*/DataAccess.IrisMetaEntities.ssdl|res://*/DataAccess.IrisMetaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=IRISMETA;Persist Security Info=True;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DeployConnString" connectionString="Data Source=localhost; database=IRISMETA; user id=sa; password=cybage@123" />
    <!--<add name="MetadataServiceContext" connectionString="metadata=res://*/DataAccess.IrisMetaEntities.csdl|res://*/DataAccess.IrisMetaEntities.ssdl|res://*/DataAccess.IrisMetaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=IRISMETA;Persist Security Info=True;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DBConnection" connectionString="Data Source=localhost; Database=IRISMETA; user id=sa; password=cybage@123" />
    <add name="TrackingDBConnection" connectionString="Data Source=localhost; database=IRISMETA; user id=sa; password=cybage@123" />
    <add name="IRISDB" connectionString="Data Source=localhost; database=IRISMETA; user id=sa; password=cybage@123" />
    <add name="DeployemntConnection" connectionString="Data Source=localhost; database=IRISMETA; user id=sa; password=cybage@123" />
    <add name="EWServerEntities" connectionString="metadata=res://*/Runtimedata.csdl|res://*/Runtimedata.ssdl|res://*/Runtimedata.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=IRISMETA;User ID=sa;Password=cybage@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <system.web>
    <sessionState cookieless="false" mode="InProc" />
    <httpCookies requireSSL="true" />
      
    <identity impersonate="false" userName="******" password="******" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="BrowserSwitch" type="IRIS.Law.WebApp.App_Code.BrowserSwitchExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpHandlers>
      <!--<add verb="*" path="*.css" type="IRIS.Law.WebApp.App_Code.CSSHandler" />-->
    </httpHandlers>
    <httpRuntime maxRequestLength="20480" executionTimeout="240" />
    <globalization culture="en-GB" uiCulture="en-GB" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior" />
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions />
    </extensions>
    <bindings>
      <customBinding>
        <binding name="EndpointHttps" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <reliableSession inactivityTimeout="00:01:00" ordered="true" />
          <httpsTransport maxBufferPoolSize="524288" maxReceivedMessageSize="965536" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" useDefaultWebProxy="true" />
          <binaryMessageEncoding>
            <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDeploymentServiceFacade" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IProcessTrackingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUtilitiesService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEntityService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="largerMessage" closeTimeout="20:01:00" openTimeout="20:01:00" receiveTimeout="20:10:00" sendTimeout="20:01:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="50000000" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ILogonService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IClientService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITimeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBankService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBranchDeptService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IContactService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEarnerService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMatterService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDocumentService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountsService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDiaryService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IApplicationSecurityService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITaskService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- ILB web services -->
      <endpoint address="http://localhost:9999/UtilitiesService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilitiesService" contract="IUtilitiesService" name="WSHttpBinding_IUtilitiesService" />
      <endpoint address="http://localhost:9999/LogonService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogonService" contract="ILogonService" name="WSHttpBinding_ILogonService" />
      <endpoint address="http://localhost:9999/ClientService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClientService" contract="IClientService" name="WSHttpBinding_IClientService" />
      <endpoint address="http://localhost:9999/TimeService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITimeService" contract="ITimeService" name="WSHttpBinding_ITimeService" />
      <endpoint address="http://localhost:9999/BankService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBankService" contract="IBankService" name="WSHttpBinding_IBankService" />
      <endpoint address="http://localhost:9999/BranchDeptService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBranchDeptService" contract="IBranchDeptService" name="WSHttpBinding_IBranchDeptService" />
      <endpoint address="http://localhost:9999/ContactService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContactService" contract="IContactService" name="WSHttpBinding_IContactService" />
      <endpoint address="http://localhost:9999/EarnerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEarnerService" contract="IEarnerService" name="WSHttpBinding_IEarnerService" />
      <endpoint address="http://localhost:9999/MatterService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMatterService" contract="IMatterService" name="WSHttpBinding_IMatterService" />
      <endpoint address="http://localhost:9999/DocumentService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentService" contract="IDocumentService" name="WSHttpBinding_IDocumentService" />
      <endpoint address="http://localhost:9999/AccountsService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountsService" contract="IAccountsService" name="WSHttpBinding_IAccountsService" />
      <endpoint address="http://localhost:9999/DiaryService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDiaryService" contract="IDiaryService" name="WSHttpBinding_IDiaryService" />
      <endpoint address="http://localhost:3333/Iris.Ews.Server.Service/Virtual/HelperService.svc" binding="wsHttpBinding" bindingConfiguration="largerMessage" contract="HelperServiceReference.IHelperService" name="WSHttpBinding_IHelperService" behaviorConfiguration="endpointBehavior" />
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.40412.0" newVersion="3.5.40412.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
