body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #000000;
}
.MainContainer
{
    background-color:#def1f3;  
}
.HeaderTab
{
    border-top:White 1px Solid;
    text-align:right; 
    padding-right:5px; 
    height:25px; 
    background-position:bottom; 
    background-repeat:repeat-x; 
    background-color: #00549F;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.topBg
{
	background-color: #f4f4f4;
}
a
 {
     font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #082123;
	text-indent: 0px;
	padding-left: 2px;
	text-decoration:none;
 }
.HeaderTab a
{
	color: #FFFFFF;
	text-decoration:none;
}
.BottomLabels a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #082123;
	text-align: right;
	text-decoration: none;
	line-height: 22px;
    white-space: nowrap;
} 
.TopMenu
{
    width:300px; 
    background-color: #00549F;
}
.FooterTab
{
    text-align:right; 
    padding-right:5px; 
    height:25px; 
    background-position:bottom; 
    background-repeat:repeat-x; 
    background-color: #00549F;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 35px;
}

.FooterTab a
{
    color:#FFFFFF;
    text-decoration:none;
}
.logo
{
	background-image: url(images/logo_iris.gif);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-repeat: no-repeat;
	background-position: left;
	width: 140px;
}
.button input
{
	background-color: #d4edef;
	border: none;
	width: 98%;
	margin: 3px 0px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:Black;
}
.button
{
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	background-color: #d4edef;
	width: 75px;
	padding-left: 1px;
	/*Rounded Corner*/
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	cursor: hand;
	cursor: pointer;
}

/*"""""""" (MAIN) Items""""""""*/	
	#qm0 a	
	{	
		padding:5px 15px 5px 20px;
		margin:1px;
		font-family:Arial;
		font-size:12px;
		text-decoration:none;
		font-weight:bold;
	}
 
	
	/*"""""""" (main) Rounded Items""""""""*/	
	#qm0 .qmritem span	
	{	 
		background-color:#d4edef;
		background-position:0% 0%;
	}
	
	
	/*"""""""" (MAIN) Active State""""""""*/	
	body #qm0 .qmactive, body #qm0 .qmactive:hover	
	{	
	    font-size:12px;
		font-weight:bold;
	    font-family:Arial;
		color:white; 
	}
	
	/*"""""""" (main) Rounded Items Active""""""""*/	
	body #qm0 .qmactive .qmritem span, body #qm0 .qmactive:hover .qmritem span	
	{	  
	    font-size:12px;
		background-color:#00549F;
	}
	
	/*"""""""" (SUB) Hover State""""""""*/	
	#qm0 div a:hover, #qm0 ul a:hover	
	{	
		text-decoration:none;
		color:Black;
		background-color:#C0CAE3;
	}
	
	/*"""""""" (SUB) Items""""""""*/	
	#qm0 div a, #qm0 ul a	
	{	
	    background-color:transparent;
		padding:5px 50px 5px 20px;
		color:#f5f5f5;
		font-size:11px;
		font-weight:bold;
		border-width:0px;
		border-style:none;
		border-color:#000000;
	}
	.SubMenuBackground
	{
	    background-color: #00437F;
	}

.sectionHeader
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #00437F;
}
.bodyTab
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #def1f3;
	text-indent: 10px; 
}
.bodyTabBorder
{
    background-color:Gray;   
}
.gridViewHeader, .gridViewHeader a:link, .gridViewHeader a:visited
{
	font-weight: bold;
	font-size: 11px;
	vertical-align: text-top;
	color: #ffffff;
	line-height: 22px;
	font-family: Arial,Verdana;
	background-color: #00549F;
	text-align: left;
}

.ajax__tab_xp2 .ajax__tab_active .ajax__tab_tab
{
	background-color:#00549F;
	color: White;
	font-weight: bold;
	
} 
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_tab
{
	background-color:#00549F;
	color: White; 
} 
.ajax__tab_xp2 .ajax__tab_tab
{
	background-color: #d4edef;
	color:Black;
	font-weight: bold;
	padding: 6px 0px 4px;
	width: 135px;
	padding-left:5px;
	padding-right:5px;
	text-align: center; 
	
	
	/*Rounded*/
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

