<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logDirectory" value="${gdc:item=ILBLogBase}"/>
  <targets>
    <!-- Log in a separate thread, possibly queueing up to 5000 messages.
        When the queue overflows, discard any extra messages-->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000"
              overflowAction="Discard">

      <!-- Performance Logger -->
      <target name="Performance" xsi:type="File"
                fileName="${logDirectory}/${logger}.csv"
                archiveFileName="${logDirectory}/archives/Perflog.{###}.csv"
                archiveAboveSize="1048576"
                archiveNumbering="Rolling"
                maxArchiveFiles="5"
                keepFileOpen="false"
                concurrentWrites="true"
                encoding="iso-8859-2">
        <layout xsi:type="CSVLayout">
          <column name="Date" layout="${shortdate}"/>
          <column name="Time" layout="${date:format=HH\:mm\:ss.mmm}"/>
          <column name="ILBVersion" layout="${event-context:item=ILBVersion}"/>
          <column name="Called From" layout="${callsite}"/>
          <column name="Called Type" layout="${event-context:item=CallType}"/>
          <column name="Timer (Secs)" layout="${event-context:item=TimerSecs}"/>
          <column name="Message" layout="${message}"/>
          <column name="Machine Name" layout="${machinename}"/>
          <column name="Process Name" layout="${processname}"/>
          <column name="Available Memory (bytes)" layout="${performancecounter:category=Memory:Counter=Available Bytes}"/>
          <column name="Thread ID" layout="${threadid}"/>
          <column name="Thread Name" layout="${threadname}"/>
          <column name="ILB Logon" layout="${event-context:item=UserName}"/>
          <column name="Windows User" layout="${windows-identity:domain=false}"/>
        </layout>
      </target>
    </target>
  </targets>

  <targets>
    <!-- Log in a separate thread, possibly queueing up to 5000 messages.
    When the queue overflows, discard any extra messages-->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000"
              overflowAction="Discard">

      <!-- Error Logger -->
      <target name="Error" xsi:type="File"
              fileName="${logDirectory}/${logger}.csv"
              archiveFileName="${logDirectory}/archives/Errlog.{###}.csv"
              archiveAboveSize="1048576"
              archiveNumbering="Rolling"
              maxArchiveFiles="5"
              keepFileOpen="false"
              concurrentWrites="true"
              encoding="iso-8859-2">
        <layout xsi:type="CSVLayout">
          <column name="Date" layout="${shortdate}"/>
          <column name="Time" layout="${date:format=HH\:mm\:ss.mmm}"/>
          <column name="ILBVersion" layout="${event-context:item=ILBVersion}"/>
          <column name="Message" layout="${message}"/>
          <column name="Called From" layout="${callsite}"/>
          <column name="Exception" layout="${exception:format=tostring}"/>
          <column name="Stack Trace" layout="${stacktrace}"/>
          <column name="Machine Name" layout="${machinename}"/>
          <column name="Process Name" layout="${processname}"/>
          <column name="Thread ID" layout="${threadid}"/>
          <column name="Thread Name" layout="${threadname}"/>
          <column name="ILB Logon" layout="${event-context:item=UserName}"/>
          <column name="Windows User" layout="${windows-identity:domain=false}"/>
        </layout>
      </target>
    </target>
  </targets>

  <targets>
    <!-- Log in a separate thread, possibly queueing up to 5000 messages.
      When the queue overflows, discard any extra messages-->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000"
            overflowAction="Discard">

      <!-- EventLog. Everything that is going on in the system-->
      <target name="EventLog" xsi:type="File"
              fileName="${logDirectory}/EventLog.csv"
              archiveFileName="${logDirectory}/archives/Eventlog.{###}.csv"
              archiveAboveSize="1048576"
              archiveNumbering="Rolling"
              maxArchiveFiles="5"
              keepFileOpen="false"
              concurrentWrites="true"
              encoding="iso-8859-2">
        <layout xsi:type="CSVLayout">
          <column name="Date" layout="${shortdate}"/>
          <column name="Time" layout="${date:format=HH\:mm\:ss.mmm}"/>
          <column name="ILBVersion" layout="${event-context:item=ILBVersion}"/>
          <column name="Logger" layout="${logger}"/>
          <column name="Log Level" layout="${level}"/>
          <column name="Message" layout="${message}"/>
          <column name="Called From" layout="${callsite}"/>
          <column name="Machine Name" layout="${machinename}"/>
          <column name="Process Name" layout="${processname}"/>
          <column name="ILB Logon" layout="${event-context:item=UserName}"/>
          <column name="Windows User" layout="${windows-identity:domain=false}"/>
        </layout>
      </target>
    </target>
  </targets>
  
  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages. 
        This configuration will keep at most 7 archive files,
        so logs older than one week will be automatically deleted-->   
    <target name="localLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
            name="logfile"
            fileName="${specialfolder:folder=CommonApplicationData}/IRIS/ILB/Logging/${processname}_${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} ${message}${onexception:inner=${newline}${exception:format=tostring}}"
            archiveFileName="${specialfolder:folder=CommonApplicationData}/IRIS/ILB/Logging/archives/${processname}_log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2"/>
    </target>
  </targets>

  <rules>
    
    <logger name="Performance" minlevel="Info" writeTo="Performance,EventLog" final="true"/>
    <logger name="Error" minlevel="Warn" writeTo="Error,EventLog" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="EventLog"/>
    <!-- The min logging level set to Debug as we do not support fine grained trace level logging. -->
    <logger name="AppLogger" minlevel="Debug" writeTo="localLogFile" />
  </rules>
</nlog>