<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ServerName" value="localhost" />
    <add key="DatabaseName" value="IrisLawBusiness" />
    <add key="UploadFileTypes" value=".docx|.doc|.jpg|.txt|.ppt|.pptx|.xls|.xlsx|.gif|.png|.tiff|.tif|.pdf|.csv|.msg|.lfm|.xfd|.lpw|.xml" />
    <add key="CultureInfo" value="en-GB" />
    <add key="DBVersion" value="1.18" />
    <add key="MaintenenceMode" value="False" />
    <add key="SMTPHost" value="127.0.0.1" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUserName" value="" />
    <add key="SMTPPassword" value="" />
    <add key="IISVersion" value="6" />
  </appSettings>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime maxRequestLength="20480" executionTimeout="240" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="EndpointHttps" receiveTimeout="00:20:00">
          <reliableSession />
          <mtomMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="EndpointHttpsDoc" receiveTimeout="00:20:00">
          <reliableSession />
          <mtomMessageEncoding maxBufferSize="67108864">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </mtomMessageEncoding>
          <httpsTransport maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="MainBinding" receiveTimeout="00:20:00" />
        <binding messageEncoding="Mtom" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" name="DocumentBinding" receiveTimeout="00:20:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
      <!-- Added by Raghu-->
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHostTokenIssuer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <!-- End by raghu-->
    </bindings>
    <client>
      <endpoint address="http://localhost:5555/HostTokenIssuer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHostTokenIssuer" contract="IHostTokenIssuer" name="BasicHttpBinding_IHostTokenIssuer" />
    </client>
    <services>
      <service behaviorConfiguration="IRIS.Law.WebServices.LogonServiceBehavior" name="IRIS.Law.WebServices.LogonService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Logon.ILogonService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.MatterServiceBehavior" name="IRIS.Law.WebServices.MatterService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Matter.IMatterService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.UserServiceBehavior" name="IRIS.Law.WebServices.UserService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.User.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.UtilitiesServiceBehavior" name="IRIS.Law.WebServices.UtilitiesService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Utilities.IUtilitiesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.ClientServiceBehavior" name="IRIS.Law.WebServices.ClientService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Client.IClientService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.ContactServiceBehavior" name="IRIS.Law.WebServices.ContactService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Contact.IContactService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.EarnerServiceBehavior" name="IRIS.Law.WebServices.EarnerService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Earner.IEarnerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.BranchDeptServiceBehavior" name="IRIS.Law.WebServices.BranchDeptService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.BranchDept.IBranchDeptService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.BankServiceBehavior" name="IRIS.Law.WebServices.BankService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Bank.IBankService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.TimeServiceBehavior" name="IRIS.Law.WebServices.TimeService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Time.ITimeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.AccountsServiceBehavior" name="IRIS.Law.WebServices.AccountsService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.Accounts.IAccountsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.DocumentServiceBehavior" name="IRIS.Law.WebServices.DocumentService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="DocumentBinding" contract="IRIS.Law.WebServiceInterfaces.Document.IDocumentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.DiaryServiceBehavior" name="IRIS.Law.WebServices.DiaryService">
        <endpoint address="" binding="wsHttpBinding" contract="IRIS.Law.WebServiceInterfaces.Diary.IDiaryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.AgendaServiceBehavior" name="IRIS.Law.WebServices.Agenda">
        <endpoint address="" binding="wsHttpBinding" contract="IRIS.Law.WebServiceInterfaces.Agenda.IAgenda">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="IRIS.Law.WebServices.DocumentTemplateServiceBehavior" name="IRIS.Law.WebServices.DocumentTemplate">
        <endpoint address="" binding="wsHttpBinding" contract="IRIS.Law.WebServiceInterfaces.DocumentTemplate.IDocumentTemplate">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- Added by raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.LogonServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.LogonServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Logon.ILogonServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added By Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.MatterServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.MatterServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Matter.IMatterServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added By Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.UserServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.UserServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.User.IUserServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <service behaviorConfiguration="IRIS.Law.WebServices.UtilitiesServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.UtilitiesServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Utilities.IUtilitiesServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- Addded by Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.ClientServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.ClientServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Client.IClientServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added by Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.ContactServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.ContactServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Contact.IContactServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Addded by Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.EarnerServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.EarnerServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Earner.IEarnerServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.BranchDeptServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.BranchDeptServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.BranchDept.IBranchDeptServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.BankServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.BankServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Bank.IBankServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.TimeServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.TimeServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Time.ITimeServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added by Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.AccountsServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.AccountsServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MainBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Accounts.IAccountsServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.DocumentServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.DocumentServiceIWS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="DocumentBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Document.IDocumentServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
      <!-- Added Raghu-->
      <service behaviorConfiguration="IRIS.Law.WebServices.DiaryServiceBehavior" name="IRIS.Law.WebServices.IWSProvider.DiaryServiceIWS">
        <endpoint address="" binding="wsHttpBinding" contract="IRIS.Law.WebServiceInterfaces.IWSProvider.Diary.IDiaryServiceIWS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- End-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IRIS.Law.WebServices.LogonServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.MatterServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.UserServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.UtilitiesServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.ClientServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.ContactServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.EarnerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.BranchDeptServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.BankServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.TimeServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.DocumentServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.DiaryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.AccountsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.AgendaServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="IRIS.Law.WebServices.DocumentTemplateServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="2000" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Solicitors.Configuration" publicKeyToken="212971fc5fe40896" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.6" newVersion="1.0.0.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
